# Jupyter Markdown
## Jupytar Markdown
### Jupytar Markdown
#### Jupyter Markdown
##### Jupyter Markdown
###### Jupyter Markdown

- Point 1
   - **Sub Point 1.1**
   - *Sub Point 1.2*
   - ***Sub Point 1.3***
- Point 2
- Point 3

### Python Introduction
- Python 3
- Python can be used as functional programming.
- Python can be used as scripting programming.
- Pyhton initially designed by **Guido Yan Rossman** in 1991.

In [9]:
# Input and Output Function
# Output Function
print("Hello World")
print("Welcome to Python programming")

Hello World
Welcome to Python programming

In [6]:
print("markdon cell",end =' ')
print("code cell")

markdon cellcode cell

In [7]:
# input function
print("enter your name")
a = input('')
print('your name is',a)

enter your name
prasanna
your name is prasanna

### inserting an image markdown
![image](https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&w=1000&q=80)

## inserting a site using markdown
[site](https://www.google.com/search?q=sunset&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjmwo7m67HmAhUH4jgGHXg6AcIQ_AUoAXoECBMQAw&biw=1229&bih=564)

# Fundamental data types

### 1. *int* 
### 2  *float*
### 3. *complex*
### 4. *boolean*
### 5. *string*

In [8]:
#basic example
x=10
print(type(x))
print(x)

<class 'int'>
10

In [10]:
a = complex(5,4)
print(a)

(5+4j)

In [12]:
x = 3+3j
y = 10.25
z = 10
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'float'>
<class 'int'>

In [14]:
x = 3+5j
y = 10.25
z = 10
print(type(x),type(y),type(z))

<class 'complex'> <class 'float'> <class 'int'>

In [15]:
c1= 5+6j
c2= 4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+11j)
(1+1j)
(-10+49j)

In [21]:
a = 10 #boolean
b = 5
a > b

True

In [22]:
#string
s1 = "abc"
s2 = "xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [23]:
s1 = "100"
print(type(s1))

<class 'str'>

In [25]:
i = "100"
print(type(i))
s1

<class 'str'>

# Datatype conversions

In [28]:
i="100"
print(type(i))
s1 = str(i)  #str() converts input input into string type
print(type(s1))
f1 = float(i) #float() converts input into float type
print(type(f1))

<class 'str'>
<class 'str'>
<class 'float'>

In [31]:
s1 ="200"
print(type(s1)) 
b = int(s1)
print(type(a))
f = 2.5
a = int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [32]:
# a number is given 23456
#digit count
s = 23456
print(len(str(s)))

5

# Operators
### 1. Arithematic operator---->+,-, * ,/,//,%, **
### 2. logical operators---------> and,or,not
### 3. relational operators-----> <,>,<=,>=,==,!=
### 4. membership operators-> in,Not in

In [35]:
#arithematic operators
a =20
b =10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

30
10
200
2.0
2
0
10240000000000

In [36]:
#relational operators
x = 30
y = 10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [37]:
#logical operators
x = 20
y = 30
print(x>=10 and x<=20)
print(x>=5 and x<=20)
print(not x)

True
True
False

In [40]:
#membership operators
str1="abc"
print('a' in str1)
print('a' not in str1)
print('d' not in str1)

True
False
True

# Conditional Statements:
- 1. if
- 2. elif
- 3. else if

## syntax

- if condition:

#### statements

- elif conditins:

#### statements

- else conditions:

#### statements

In [46]:
# To check given number is even or odd
n = int(input("enter the number:"))
if n%2 ==0:
    print("Even")
else:
    print("Odd")

enter the number:2
Even

In [47]:
# To check given numvber is perfectly multiple of 3 and 5 
n = int(input("enter the number:"))
if n%3 ==0 and n%5 ==0:
    print("yes")
else:
    print("no")

enter the number:15
yes

In [54]:
# To check the given number is positive , negitive or zero
n = int(input("enter the number:"))
if n ==0:
    print("zero")
elif n>0:
    print("positive")
else:
    print("negitive")

enter the number:2
positive

In [59]:
# check the input is leap year or not
n = int(input("enter the number:"))
if n%4 ==0:
    print("leap year")
else:
    print("not leap year")

enter the number:2013
not leap year

In [63]:
# check the person is eligible to vote
n = int(input("enter the number:"))
if n>=18:
    print("eligible")
else:
    print("not eligible")

enter the number:16
not eligible