**Topics covered so far**
- Intro to jupyter Notebook
-

### Loops


### For Loop Syntax

In [1]:
for i in "GITAM":
    print(i)

G
I
T
A
M

- range(start,stop,step)
- range(stop)
- range(start,stop) start value is inclusive ,stop value is exclusive

In [2]:
# default values for start=0,stop=1
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [3]:
for i in range(100,5,-10):
    print(i,end=' ')

100 90 80 70 60 50 40 30 20 10

In [4]:
for i in range(-100,-50,10):
    print(i,end=' ')

-100 -90 -80 -70 -60

- Generate even numbers below 100
- Generate multiple cells in (23,140) both 23 & 140 are inclusive

In [5]:
for i in range(2,100,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [6]:
for i in range(28,141,7):
    print(i,end=' ')

28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

In [7]:
for i in range(23,141,1):
    if i%7==0:
        print(i,end=' ')

28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

# While Syntax:
### initialization
### while condition:
    statements 
    increement/decrement(variable updation)

In [8]:
#incrementation after it is divisible
i=23
while i <= 140:
    if i%7==0:
        print(i,end=' ')
    i = i+1

28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

**Read the numbers from keyboard. Stop the reading whenever user 
enters Done**<br>
exapmple: <br>
Input<br>
12<br>
45<br>
done

In [9]:
n = input("enter a number:")
while n!="done":
    print(n)
    n = input("enter a number:")

enter a number:67
67
enter a number:77
77
enter a number:done

vowel count in a string<br>
example: Gitam<br>
o/p:2

In [10]:
n = input("string: ")
c = 0
for each in n:
    if each in 'aeiouAEIOU':
        c= c+1
print(c)

string: Gitam
2

specific character count in a string<br>
i/p : Abrakadabra ,a<br>
o/p : 4<br>

In [11]:
# to print the character with specified in the string
n = input("string: ")
ch= input('element: ')
c=0
for each in n:
    if each==ch:
        c= c+1
print(c)

string: Abrakadabra
element: a
4

check the vowel count and consonant count in a string. If both are equal print Lucky name<br>
*Constraints: There are only alphabets in the string*<br>
i/p : Gita<br>
o/p :Lucky name<br>

**Lists**<br>
To create an empty list
  - list()
  - []

In [12]:
empty_list = []
empty_list1 = list()
print(empty_list,empty_list1)

[] []

In [13]:
marks = [34,67,78,89]
marks

[34, 67, 78, 89]

In [14]:
for i in marks :
    print(i)

34
67
78
89

In [15]:
# to access the first element
print(marks[0])
print(marks[-4])
print(marks[-len(marks)])
# No of elements in the list
print(len(marks))
# to access the last element
print(marks[3])
print(marks[len(marks)-1])
print(marks[-1])

34
34
34
4
89
89
89

In [16]:
marks

[34, 67, 78, 89]

In [17]:
# updating a value in a list
marks[0]=98
print(marks)

[98, 67, 78, 89]

In [18]:
L = list(range(2,32,2))
L

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [19]:
# slicing listname[start:stop:step]
print(L[:3])
print(L[0:3:1])

[2, 4, 6]
[2, 4, 6]

In [20]:
# to get alternate elemets from the start
print(L[0::2])
print(L[0:len(L):2])

[2, 6, 10, 14, 18, 22, 26, 30]
[2, 6, 10, 14, 18, 22, 26, 30]

In [21]:
# Reverse the list using slicing
print(L[::-1])

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [22]:
# Elements with indices[-1,-2,-3,-4]
print(L[-1:-5:-1])

[30, 28, 26, 24]

In [23]:
marks

[98, 67, 78, 89]

In [24]:
marks[5]

IndexError: list index out of range

To add and remove from a list
 - append
 - remove
   - by default 
   - by index
   - by value

In [ ]:
# to append an element 
print(marks)
marks.append(55)
print(marks)

In [ ]:
# to remove an element(by default removes the last element)
print(marks)
marks.pop()
print(marks)

In [ ]:
# remove the element based on index
print(marks)
marks.pop(2)
print(marks)

In [ ]:
# remove the element based on value 
print(marks)
marks.remove(67)
print(marks)

In [ ]:
marks.pop()

In [ ]:
m1 = [34,67,99]

In [ ]:
m1

In [ ]:
# [98,89,55,34,67,99]
marks.append(m1)

In [ ]:
marks.extend(m1)

In [ ]:
marks

In [ ]:
marks

In [25]:
marks.append(98)
print(marks)
print(marks.count(98))

[98, 67, 78, 89, 98]
2

In [26]:
marks.pop()

98

In [28]:
s = "Abrakadabra"
print(s[0])
print(s[-1])
print(s[:4])

A
a
Abra

In [29]:
# strings are immutable
s[0] = 'a'

TypeError: 'str' object does not support item assignment

**User defined functions**

In [34]:
def Hello():
    print("Welcome to Gitam")

In [35]:
Hello()

Welcome to Gitam

In [33]:
print(print('check'))

check
None

In [37]:
# with an argument and without return value
def helloWithName(name):
    print('Welcome to Gitam',name)

In [41]:
helloWithName('Python')

Welcome to Gitam Python

In [86]:
# with two arguments and a return value
def power(a,b):
    return (a**b)
#         '''This is a function to caluclate a power b .
#     The return value for the function is a**b
#     Example: 
#     >>> power(3,2)
#     >>> 9
#     '''

In [67]:
res = power(2,3)
print(res)

8
None

In [65]:
res = power(2,3)
print(res)

8
None

In [87]:
def power(a,b):
#        '''This is a function to caluclate a power b .
#   The return value for the function is a**b
#   Example: 
#   >>> power(3,2)
#   >>> 9
#   '''
    return (a**b)

In [74]:
help(power)

Help on function power in module __main__:

power(a, b)
    This is a function to caluclate a power b .
    The return value for the function is a**b
    Example:
    >>> power(3,2)
    >>> 9

In [70]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [88]:
helloWithName('Python')

Welcome to Gitam Python

In [101]:
def helloWithName(fname,lname='Gitam'):
    print("Welcome to Gitam",fname,lname)

In [105]:
helloWithName('hyd')

Welcome to Gitam hyd Gitam

In [106]:
helloWithName(lname='Python')

TypeError: helloWithName() missing 1 required positional argument: 'fname'

In [107]:
def helloWithName(fname,lname='hyd',lname):
    print("Welcome to Gitam",fname,lname)

SyntaxError: non-default argument follows default argument (<ipython-input-107-582df516dcb6>, line 1)

In [117]:
while 0:
    print('check')

In [120]:
if -10.5:
    print('check')

check

In [121]:
if '':
    print('check')

In [128]:
n =5
while n==7:
    print(n)
    n=n+1

In [129]:
for i in range(5,-5):
    print(i)

In [131]:
L2 = list(range(5,5))
L3 = list(range(5,-5))

In [132]:
print(L2,L3)

[] []

In [135]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [133]:
s = 'gitam'
s.capitalize()

'Gitam'

In [134]:
s.upper()

'GITAM'

In [ ]:
# sumathi Gonugunta
# Sumathi Gonungunta
# SUMATHI GONUGUNTA
# sUMathi Gonugunta
#     sumathi GONUGUNTA
#o/p Sumathi Gonugunta

In [ ]:
strip,rstrip,lstrip,capitalize,swapcase,upper,lower,tittle,split

In [136]:
s1 = 'sumathi gonugunta'

In [137]:
s1.strip()

'sumathi gonugunta'

In [138]:
s1.rstrip()

'sumathi gonugunta'

In [139]:
s1.lstrip()

'sumathi gonugunta'

In [140]:
s1.capitalize()

'Sumathi gonugunta'

In [141]:
s1.upper()

'SUMATHI GONUGUNTA'

In [142]:
s1.lower()

'sumathi gonugunta'

Caluclate how many unique characters are there in a string<br>
Caluclate the number of words in a paragraph<br>
Write a function isPrime to check whether the given input is prime or not<br> 
Argument for the function is number.Return the value is True or False<br>
Explore about pass,continue and break in loops<br>